<!DOCTYPE html>
<html>
<head>
    <title>Profile Link Generator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-cont">
        <h2>Generate Your Profile Link!</h2>
        <div class="formbox">
            <form method="GET">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="e.g. nehaprasad1" required>

                <label for="platform">Platform:</label>
                <select id="platform" name="platform">
                    <option value="github">GitHub</option>
                    <option value="leetcode">LeetCode</option>
                    <option value="linkedin">LinkedIn</option>
                    <option value="instagram">Instagram</option>
                    <option value="youtube">YouTube</option>
                </select>
                
                <button type="submit" id="main-gen-btn">Generate link</button>
            </form>

            {% if generated_link %}
            <div class="result-container">
                <p>Your Link is Ready!</p>
                <div class="link-box">
                    <input type="text" value="{{ generated_link }}" id="linkInput" readonly>
                    <button onclick="copyLink()" id="copyBtn">Copy</button>
                </div>
            </div>

            <script>
            function copyLink() {
                var copyText = document.getElementById("linkInput");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(copyText.value);
                
                var btn = document.getElementById("copyBtn");
                btn.innerHTML = "Copied!";
                btn.style.backgroundColor = "#98fb98"; 
                setTimeout(() => {
                    btn.innerHTML = "Copy";
                    btn.style.backgroundColor = "#f187bc";
                }, 2000);
            }
            </script>
            {% endif %}
        </div>
    </div>
</body>
</html>