<!DOCTYPE html>
<html>
<head>
    <title>Profile Link Generator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=VT323&display=swap" rel="stylesheet">

</head>
<body>
    <div class="form-cont">
     <h2>Generate Your Profile Link !</h2>
     <div class="formbox">
   
      <form method="GET">
          <label for="username">Username: </label>
          <input type="text" id="username" name="username" placeholder="nehaprasad1" />

         <label for="platform">Platform: </label>
          <input type="text" id="platform name="platform" placeholder="github">
         
         <button type="submit">Generate link</button>
      </form>
     </div>
    </div>
   

    <script src="/static/script.js"></script>
   
</body>
</html>
